@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito:ital,wght@1,400;1,600&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif;
    /* background-color: rgb(82, 79, 79); */
    overflow-x: hidden;
    background-color: white;
}

.section-subheading {
    text-align: center;
    font-size: 250%;
    font-weight: 400;
    margin-bottom: 60px;
    margin-top: 60px;
}

.section-heading {
    text-align: center;
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 100px;
}

.navbar {
    font-weight: 700;
    /* background-color: rgb(47, 202, 47); */
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.2s;
}

.nav-link.active {
    background-color: skyblue;
    border-radius: 10px;
}

#navbarLogo {
    transition: all 0.2s;
}

.banner {
    background-image: linear-gradient(135deg, rgba(255, 84, 51, 0.8), rgba(86, 137, 255, 0.8)), url('../img/banner_1.png');
    background-position: center;
    overflow-x: hidden;
    height: 720px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.banner-content {
    font-size: 400%;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0%, -50%);
    color: white;
}

.banner-desc {
    font-size: 30%;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .banner-content {
        left: 20px;
        font-size: 300%;
    }
}

.companies-crawler-img {
    width: 100px;
    margin: 10px;
    vertical-align: middle;
}

.companies-crawler-img-lg {
    width: 150px;
    margin: 10px;
    vertical-align: middle;
}

.btn {
    transition: all 0.2s;
}

.banner .btn {
    background-color: white;
    padding: 20px;
    margin-top: 50px;
}

.btn:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
    transform: translate(0px, -3px);
}

.footer {
    background: linear-gradient(180deg, rgba(1, 126, 254, 1) 0%, rgba(85, 169, 254, 1) 62%, rgba(255, 255, 255, 1) 100%);
    /* color: white; */
    padding-top: 50px;
    padding-left: 50px;
    margin-top: 50px;
}

.footer-logo {
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .footer-logo {
        width: 80%;
    }
}

.footer-title {
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-block {
    padding-bottom: 50px;
}

.footer-item {
    margin-bottom: 10px;
}

.footer a {
    color: black;
    transition: all 0.2s;
}

.footer a:hover {
    color: rgb(71, 66, 66);
    text-decoration: none;
}

.footer-section {
    padding-right: 50px;
    padding-bottom: 50px;
}

.footer .fab {
    margin-right: 10px;
    transition: all 0.2s;
    color: black;
    /* margin-left: 10px; */
}

.fa-linkedin-in:hover {
    color: #2867b2;
}

.fa-instagram:hover {
    color: #e1306c;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-telegram-plane:hover {
    color: #0088cc;
}

.fa-github:hover {
    color: #24292e;
}

.fa-youtube:hover {
    color: #FF0000;
}

.card-logo {
    text-align: center;
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 200%;
}

.card {
    background-color: inherit;
    opacity: 0;
    transition: all 0.2s;
}

.card:hover {
    background-color: skyblue;
    /* color: white; */
}

.card-text {
    color: rgb(85, 84, 84);
    text-align: center;
}

.card-price {
    font-size: 200%;
}

.card-btn {
    text-align: center;
    margin-top: 20px;
}

.card-btn .btn {
    background-color: black;
    color: white;
}


/* h5>.badge {
    vertical-align: middle;
    top: 50%;
    position: relative;
} */

.modal-body {
    text-align: center;
}

.modal-title {
    font-weight: 700;
    font-size: 150%;
    margin-left: 5px;
    margin-top: 5px;
}

.modal-header {
    border-bottom: none;
}

#demoModal {
    overflow-y: visible;
}

.course-desc-text a {
    color: inherit;
    text-decoration: underline;
}

.course-desc-text {
    padding: 10px;
}

.testimonials-img {
    width: 100%;
    border-radius: 50%;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}


/* .testimonials-text {
    display: table;
} */

blockquote {
    display: table-cell;
    vertical-align: middle;
    font-size: 120%;
    width: 100%;
    /* margin: 50px auto; */
    font-family: 'Nunito', sans-serif;
    /* font-style: italic; */
    /* color: #555555; */
    padding: 1.2em 30px 1.2em 75px;
    /* border-left: 8px solid #78C0A8;
    line-height: 1.6; */
    position: relative;
    /* background: #EDEDED; */
}

blockquote::before {
    font-family: 'Nunito', sans-serif;
    content: "\201C";
    color: gray;
    font-size: 6em;
    position: absolute;
    left: 10px;
    top: -30px;
}

blockquote::after {
    content: '';
}

cite {
    display: block;
    color: #333333;
    /* font-style: normal; */
    font-weight: 600;
    margin-top: 2em;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-in 1s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.carousel-item {
    overflow-y: visible;
}

.dropdown-toggle {
    cursor: pointer;
    text-align: left;
    background-color: inherit;
    color: inherit;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
}

.dropdown-menu {
    cursor: pointer;
    text-align: left;
    background-color: rgb(236, 231, 231);
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    float: right !important;
}

.dropdown-item {
    color: black;
    background-color: inherit;
    transition: all 0.2s;
}

.dropdown-item:hover {
    background-color: rgb(134, 133, 133);
    color: white;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: white;
    /* margin: 5px; */
}

.carousel-indicators {
    bottom: 50px;
}

.carousel-inner {
    display: flex;
    align-items: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 170%;
    text-align: center;
}

.quote {
    text-align: left;
    color: rgb(75, 75, 75);
}

.cite {
    font-weight: 600;
    text-align: right;
    color: rgb(46, 40, 40);
}

#founder {
    padding-left: 40px;
    padding-right: 40px;
}

#founder img {
    width: 100%;
}

.founder-content {
    font-size: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.founder {
    text-align: center;
}

.founder-name {
    margin-top: 10px;
}

.course-banner {
    background-color: white;
    /* background-image: url('../img/placement-prep/banner.png'); */
    background-position: center;
    /* overflow-y: hidden; */
    background-repeat: no-repeat;
    background-position: center right;
    /* background-size: 100%; */
    /* width: 100%; */
    height: 400px;
    /* margin-top: 100px;
    margin-bottom: 50px; */
    /* border-radius: 5px; */
}

.course-banner-content {
    font-size: 300%;
    font-weight: 700;
    position: absolute;
    bottom: 50%;
    left: 100px;
    /* transform: translate(0%, -50%); */
    color: black;
}

.course-content {
    text-align: center;
    font-size: 120%;
    display: table;
}

.course-content-cell-title {
    font-weight: 700;
    font-size: 140%;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px gray solid;
}

.course-content-cell {
    padding-top: 20px;
    padding-bottom: 20px;
    display: table-cell;
}

.course-content-cell.shade {
    background-color: darkgray;
}

.course-content-cell-content {
    padding-top: 10px;
}

#pricing .card {
    background-color: inherit;
    opacity: 1;
    transition: all 0.2s;
}

#pricing {
    padding-bottom: 50px;
}

#pricing .card:hover {
    background-color: skyblue;
}

.card-text-lg {
    font-size: 120%;
}